<div class="alert alert-info" role="alert">
    <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">Click Here</a> if you need guidance.
  </div>
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Completing the {{page_info['title']}} Section</h1>
        </div>
        <div class="modal-body">
            <p>Welcome to Kometa Quickstart! This powerful tool is designed to streamline your workflow and enhance your productivity. With just a few clicks, you'll be able to configure and customize your collections and overlays, making your media server visually appealing. Dive in and discover the endless possibilities that Kometa has to offer. Get ready to transform your media server!</p>
            <p>Kometa is your ultimate solution for managing and enhancing your media server experience. Whether you're a seasoned pro or just getting started, Kometa offers powerful features to help you organize your media collections effortlessly. With Kometa, you can create stunning overlays, customize your media presentation, and ensure your server stands out. Join the Kometa community today and take your media server to the next level!</p>
            <p>For more information, visit our <a href="https://kometa.wiki/en/latest/" target="_blank">wiki</a>.</p>
            <div class="form-floating">
              <div class="form-text">
                <br><h5>After using Kometa Quickstart, here is an example of what the Collections might look like.</h5><br>
              </div>
            </div>
            <div class="text-center"></div>
            <div>
              <img src="https://kometa.wiki/en/latest/kometa/install/images/wt-default-collections.png" alt="Kometa Default Collections" class="img-fluid">
            </div>
            <div class="form-floating">
              <div class="form-text">
                <br><h5>Additionally, here is an example of what the Ribbon Overlays might look like.</h5><br>
              </div>
            </div>
            <div class="text-center"></div>
            <div>
              <img src="https://kometa.wiki/en/latest/defaults/overlays/images/ribbon.png" alt="Kometa Ribbon" class="img-fluid">
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
