<div class="alert alert-info" role="alert">
  Congratulations! You made it to the final step. Whats next?<br>
  <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">Click Here</a> for more information.
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Completing the {{ page_info['title'] }} Section</h1>
      </div>
      <div class="modal-body">
        <p>While going through this process, Kometa is going to load the movies in your library, create some collections, and apply some overlays. If you have a large library, this will be very time-consuming.</p>
        <p>For learning and testing, you would be well-advised to create a small test library of a reasonable size, where reasonable it probably below a thousand.</p>
        <p>The author has a small library of 10 movies that is used for fast tests.</p>
        <p>For best results with <em>the Kometa walkthroughs</em>, your test library should contain:</p>
        <ol>
          <ul>
            <li>At least two comedy movies released since 2012.</li>
            <li>At least two movies from the <a href="https://www.imdb.com/chart/top/" target="_blank">IMDb Top 250</a>.</li>
            <li>At least two movies from IMDb's <a href="https://www.imdb.com/chart/moviemeter" target="_blank">IMDb's Popular list</a>.</li>
            <li>At least two movies from IMDb's <a href="https://www.imdb.com/chart/bottom" target="_blank">IMDb's Lowest Rated list</a>.</li>
            <li>A couple different resolutions among the movies.</li>
          </ul>
        </ol>
        <p>That will ensure there's something to go into each of the example collections that will be created.</p>
        <p>The advantage of the small test library is that it will reduce the time needed to see results. Running some of these default collections against a library of a few thousand movies can take hours, and for iterative testing it's useful to have something that will run in a few minutes or seconds.</p>
        <p>You can set up a test library like this using symlinks without copying files.</p>
        <p>If there are no errors on this page, select your <em><b>Header Style</b></em>, hit the <em><b>Download Config</b></em> button to download your config.yml, place it in the required Kometa config directory and start your Kometa journey!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
