{% extends "000-base.html" %} {% block content %}
{% include "001-navigation.html" %}
{% include "modals/" + page_info['template_name'] + ".html" ignore missing %}
    {% for webhook in ["error", "run_start", "run_end", "changes", "version", "delete"] %}
    <div class="form-floating">
      <select class="form-select" id="webhooks_{{ webhook }}" name="webhooks_{{ webhook }}" onchange="showCustomInput(this)">
        <option value="">None</option>
        <option value="notifiarr" {% if page_info['notifiarr_available'] %}enabled{% else %}disabled{% endif %} {% if data.webhooks[webhook] == 'notifiarr' %}selected{% endif %}>Notifiarr</option>
        <option value="gotify" {% if page_info['gotify_available'] %}enabled{% else %}disabled{% endif %} {% if data.webhooks[webhook] == 'gotify' %}selected{% endif %}>Gotify</option>
        <option value="ntfy" {% if page_info['ntfy_available'] %}enabled{% else %}disabled{% endif %} {% if data.webhooks[webhook] == 'ntfy' %}selected{% endif %}>ntfy</option>
        <option value="custom" {% if (data and data.webhooks[webhook] and data.webhooks[webhook].startswith('http')) %}selected{% endif %}>Custom</option>
      </select>
      <label for="webhooks_{{ webhook }}">{{ webhook|replace("_", " ")|title }} Webhook Details</label>
      <div class="input-group custom-webhook" id="webhooks_{{ webhook }}_custom" style="display: none;">
        <div class="input-group input-group-lg">
          <input type="text" class="form-control custom-webhook-url" placeholder="Enter webhook URL ({{ webhook|replace("_", " ")|title }})"
            value="{% if (data and data.webhooks[webhook] and data.webhooks[webhook].startswith('http')) %}{{ data.webhooks[webhook] }}{% endif %}"
            oninput="setWebhookValidated(false, '{{ webhook }}')">
          <button class="btn btn-success validate-button" type="button" onclick="validateWebhook('{{ webhook }}')">
            Validate <i id="spinner_{{ webhook }}" class="spinner-border spinner-border-sm" role="status" style="display:none;"></i>
          </button>
        </div>
        <div class="validation-message" id="validation_message_{{ webhook }}" style="display: none; margin-top: 10px;">
          <div class="alert alert-info" role="alert">
            Validating...
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    <div class="form-floating" style="display:none;">
      <input type="text" class="form-control" id="webhooks_validated" name="webhooks_validated" value="{{ data['validated'] }}" title="">
      <label for="webhooks_validated">Webhooks Validated</label>
    </div>
    </div>
</form>
{% endblock %}
